/.DS_Store
/.vscode
/MRTS_mod08_bk
/MRTS_mod08_bk-20241229T125523Z-001.zip
/app.py
/check.py
/create.py
/create_film_filmactor_actor.py
/create_rebuilding.py
/env
/mod08_mrts_install_script.py_back
/mod08_mrts_kuba.py
/mod09_debugging_python
/read.py
/trend_monthly_automobile.py
/trend_monthly_retail.py_back
/trend_monthly_retail.py_v1
/trend_monthly_retail_v2.py